body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #1f4068, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main {
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: slideIn 1s ease-in-out forwards;
  border-radius: 25px;
  border-style: solid;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1f4068;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

h1 {
  padding: 10px;
}

h1 span {
  display: inline-block;
  animation: pulse 1.5s infinite;
}

h2 {
  padding: 10px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

h1 {
  padding: 10px;
  animation: slideInFromLeft 1s ease-in-out forwards;
}

h1 span.rocket {
  display: inline-block;
  animation: slideInFromRight 1s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

span {
  display: inline-block;
  animation: slideIn 1s ease-in-out;
}

#addToList,
#removeList {
  margin: 10px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  opacity: 0;
}

#addToList::before,
#removeList::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

#addToList:hover,
#removeList:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#addToList:hover::before,
#removeList:hover::before {
  opacity: 1;
}

#addToList:active,
#removeList:active {
  box-shadow: none;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#addToList {
  animation: slideInFromLeft 1s ease-in-out forwards;
}

#removeList {
  animation: slideInFromRight 1s ease-in-out forwards;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #1f4068;
  color: #fff;
  padding: 10px;
  font-size: 20px;
}

@media (max-width: 768px) {
  main {
    padding: 30px;
  }

  h1 {
    font-size: 24px;
  }

  header {
    font-size: 16px;
  }

  footer {
    font-size: 16px;
  }
}
